@font-face {
    font-family: RobotoMono;
    src: url('fonts/RobotoMono.ttf');
}

@font-face {
    font-family: DataTrash;
    src: url('fonts/DataTrash.TTF');
}

@font-face {
    font-family: Insatiable;
    src: url('fonts/Insatiable.ttf');
}

@font-face {
    font-family: Gamer;
    src: url('fonts/Gamer.ttf');
}

@font-face {
    font-family: '04b';
    src: url('fonts/04b.TTF');
}

:root {
    /* --content-width: 720px; */
    --content-width: 700px;
    --container-spacer-top-height: 36px;
    --container-spacer-bottom-height: 100px;

    --sidemenu-width: 13rem;
    --submenu-width: 10.5rem;

    --logo-size: 47px;
    font-size: 16px;
    letter-spacing: normal;

    --box-borders: 0.3rem;

    --tone1: #631a24;
    --tone2: #883b4b;
    --tone3: #754258;
    --tone4: #4d2537;
    --tone5: #578676;
    --tone6: #385850;
    --tone7: #2a5057;
    --tone8: #12333b;
    --tone9: #7ac5bc;
    --tonered: #c4001e;
    --tonegreen: #106363;
    --toneblack: #000000;


    /* Used for main site logo */
    --font-logo: DataTrash, '04b', Impact, Haettenschweiler;
    /* Used for headers */
    --font-header: '04b', "Azeret Mono", Impact, Roboto;
    /* For P elements */
    --font-body: "Azeret Mono", RobotoMono, Courier New, Verdana;
    /* For the side menu */
    --font-menu: DataTrash, Impact, Verdana, Haettenschweiler;
    /* For the top menu */
    --font-loud: Spinnaker, Russo One, Verdana;
    /* Extra font for fancy text quote */
    --font-fancy: Gamer, Spinnaker, Russo One;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    scroll-behavior: smooth;
    height: 100%;
}


/* FALLBACK FONT TESTING */

.enlarge p {
    font-size: 2rem;
}



/* TYPEFACE */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header);
    font-weight: normal;
    margin-bottom: 0.8rem;
    text-transform: uppercase;
    color: black;
}

h1 {
    font-size: 2.6rem;
    font-family: var(--font-logo);
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

hr {
    border: 1px solid white;
}


p,
blockquote,
span,
ul,
label,
ol {
    font-family: var(--font-body);
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
    font-weight: 500;
    color: black;
}

.question,
.question::before {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: bold;
    content: " ► ";
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}


.underline {
    text-decoration: underline;
}

.warning {
    font-weight: bold;
    color: red;
}

li {
    margin-bottom: 0.1rem;
}

ul,
ol {
    padding-left: 20px;
}

.tiny {
    width: 13rem;
}

.small {
    font-size: 0.8rem;
    width: 20rem;
}


.medium {
    width: 28rem;
    font-size: 1.5rem;
}

.large {
    font-size: 3rem;

}

.larger {
    font-size: 4rem;
}


.huge {
    font-size: 7rem;
}

.image {
    padding: 1rem;
}


.imglarge {
    width: 30rem;
}










.form li {
    list-style-type: none;
}

.form fieldset {
    border: none;
}

#daterange li {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 110%;
    left: -1.3rem;
    position: relative;
}

.button {
    color: black;
    background-color: white;
    font-family: var(--font-logo);
    font-size: 1.7rem;
    border: var(--box-borders) solid black;
    padding: 0.6rem;
    box-shadow: 7px 7px 0 0 black;
}













/* master container for all inner elements */
.boxedsection {
    display: flex;
    box-sizing: border-box;
}

/* all whiteboxes must be contained in a contentcontainer */
.contentcontainer {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.3rem;
}

.whitebox {
    border: var(--box-borders) solid black;
    background-color: white;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.clearbox {
    border: 0.3rem solid transparent;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.padded {
    padding: 1.2rem;
}

.paddedsm {
    padding: 0.7rem;
}

/* container for middle width */
.widthcontainer {
    width: var(--content-width);
    box-sizing: border-box;
}

.bigwidthcontainer {
    width: 900px;
    box-sizing: border-box;
}

.biggerwidthcontainer {
    width: 1090px;
    box-sizing: border-box;
}

.extrawidthcontainer {
    width: 1100px;
    box-sizing: border-box;
}




/* container for side content */
.sidecontainer {
    width: 250px;
    height: auto;
    box-sizing: border-box;
}

/* container for complex flexbox items */
.rowbox {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: auto;
    justify-content: center;
    align-items: start;
}

.columnbox {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
}















/* page section styling */

.centerbox {
    display: flex;
    justify-content: center;
}

.center {
    margin: auto;
    text-align: center;
}

.contentrowwhite {
    background-color: white;
}

.contentrowstripe {
    background: linear-gradient(to bottom,
            #ffffff,
            #ffffff 48%,
            #000000 48%,
            #000000);
    background-size: 200% 60px;
    flex-direction: column;
    align-items: center;
}



.contentrowblack {
    background-color: black;
}

.footer {
    box-sizing: border-box;
    padding-bottom: 7px;
    background-color: black;
    height: 300px;
}

.footercontainer {
    padding-top: 20px;
    width: var(--content-width);
}

.footercontent {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    font-size: 0.7rem;
}

.footercontent li {
    width: 100%;
}

.footercontent a {
    text-decoration: none;
    color: gray;
}


.footercontent li {
    display: flex;
    justify-content: center;
}



.section:not(:first-child) {
    padding: 20px 0px;
}

.section {
    padding-top: 0px;
    padding-bottom: 20px;
}










.buttonwhiteoutline {
    font-family: var(--font-menu);
    font-size: 2rem;
    padding: 0.6rem 1rem;
    border: var(--box-borders) solid white;
    color: white;
    background-color: black;
    margin: 1rem;
}

.buttonwhiteoutline:hover {
    color: black;
    background-color: white
}

.buttonfixedwidth {
    width: 16rem;
}




.margin {
    margin: 1rem;
}


.buttonplain {
    border: none;
    background-color: none;
}




/* MENU BARS */



.nounderline a:link {
    text-decoration: none;
}

#menutop {
    padding: 0.3rem;
    margin: 0;
}

#menutop>li {
    font-family: var(--font-loud);
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}

#menutop a {
    color: white;
}

#menutop a:link {
    color: white;
}

#menutop a:hover {
    color: var(--tone9);
}

.hoverred a:link {
    color: white;
}

.hoverred a:visited {
    color: white;
}

.hoverred a:hover {
    color: #c4001e;
}

a {
    color: #727272;
}

a:hover {
    color: var(--tonered);
}









/* IMAGES */

.framedimage {
    border: 4px solid black;
    padding: 2px;
    margin: 7px 0;
}


















































/* HEADER */


.headercontainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: calc(var(--content-width) - 1rem);
    margin-bottom: -0.9rem;
    padding-top: 15px;
}

.logoimage {
    height: var(--logo-size);
    position: relative;
    left: 9px;
    top: 4px;
}

#searchbar {
    padding-bottom: 4px;
}







#sticky {
    position: sticky;
    top: 1rem;
    margin-left: 4rem;
    margin-right: 0.4rem;

}

#sticky>li a {
    display: block;
    padding: 0.5rem 0.4rem;
    color: white;
    border: var(--box-borders) solid black;
    text-decoration: none;
    box-shadow: 7px 7px 0 0 black;
}

#sticky>li a:hover {
    color: black;
    background-color: white;
}

#sticky>li {
    list-style-type: none;
    font-family: var(--font-menu);
    text-transform: uppercase;
    font-size: 1.2rem;
}







/* main side menu styling */
.sidemenu>li a {
    display: block;
    padding: 0.5rem 0.4rem;
    color: white;
    border: var(--box-borders) solid black;
    border-right: none;
    text-decoration: none;
}

.sidemenu>li a:hover {
    color: black;
    background-color: white;
}

.sidemenu>li {
    margin-bottom: -0.3rem;
    margin-left: auto;
    width: var(--sidemenu-width);
    list-style-type: none;
    font-family: var(--font-menu);
    text-transform: uppercase;
    font-size: 1.8rem;
}



/* submenu styling */
.sidemenu ul>li a {
    color: white;
    display: inline-block;
    width: 8rem;
    position: relative;
    text-decoration: none;
}

.sidemenu ul>li {
    margin: 0 0 0 auto;
    padding: 0.1rem 1rem 0.2rem 0.6rem;
    box-shadow: -3px 3px 0 0 white;
    border-top: none;
    border-right: none;
    border-bottom: none;
    list-style-type: square;
    list-style-position: inside;
    background-color: black;
    font-family: var(--font-body);
    font-size: 1rem;
    color: white;
    width: var(--submenu-width);
    text-transform: capitalize;
}

.sidemenu ul>li:first-child {
    margin-top: 0.3rem;
}

.sidemenu ul>li:last-child {
    padding-bottom: 0.4rem;
}



.sidemenu {
    margin-left: 2rem;
}


.spacersmall {
    height: 10px;
}


.spacermedium {
    height: 65px;
}































/* Specific styling rules */

.whiteborderdotted {
    border: 4px dashed white;
}


.extrawidth {
    width: 1100px;
}

.whiteborder {
    border: 3px solid white;
}

.blackborder {
    border: 4px solid transparent;
}


#sitelogo {
    position: relative;
    top: 1.7rem;
    margin: -50px;
    margin-bottom: -40px;
}

.logotext {
    font-family: var(--font-logo);
    text-transform: uppercase;
    font-size: var(--logo-size);
    font-weight: normal;
}





/* LIST STYLING */

.hearts li::before,
.hearts li::after {
    content: ' ♥ ';
    text-wrap: nowrap;
}

.centeredlist {
    text-align: center;
    list-style-type: none;
    position: relative;
    left: -0.7rem;
}









.fancy {
    font-family: var(--font-fancy);
}

.quote {
    font-size: 2.4rem;
    font-weight: normal;
    font-family: Insatiable, Sedgwick Ave Display;
    letter-spacing: -3px;
}



/* extra embelishment colors */
.tone1 {
    background-color: var(--tone1);
    color: white;
}

.tone2 {
    background-color: var(--tone2);
    color: white;
}

.tone3 {
    background-color: var(--tone3);
    color: white;
}

.tone4 {
    background-color: var(--tone4);
    color: white;
}

.tone5 {
    background-color: var(--tone5);
    color: white;
}

.tone6 {
    background-color: var(--tone6);
    color: white;
}

.tone7 {
    background-color: var(--tone7);
    color: white;
}

.tone8 {
    background-color: var(--tone8);
    color: white;
}

.tone9 {
    background-color: var(--tone9);
    color: white;
}

.tonegreen {
    background-color: var(--tonegreen);
    color: white;
}

.tonered {
    background-color: var(--tonered);
    color: white;
}

.toneblack {
    background-color: var(--toneblack);
    color: white !important;
}


.white {
    color: white;
}

.white>p {
    color: white;
}

.padtop {
    padding-top: 0.9rem;
}















.text1 {
    color: var(--tone1);
}

.text2 {
    color: var(--tone2);
}

.text3 {
    color: var(--tone3);
}

.text4 {
    color: var(--tone4);
}

.text5 {
    color: var(--tone5);
}

.text6 {
    color: var(--tone6);
}

.text7 {
    color: var(--tone7);
}

.text8 {
    color: var(--tone8);
}

.text9 {
    color: var(--tone9);
}

.textgreen {
    color: var(--tonegreen);
}

.textred {
    color: var(--tonered);
}

.textblack {
    color: var(--toneblack);
}
























#opponents {
    display: flex;
}

#characterDialogueBox {
    width: 30rem;
    margin-top: -5rem;
    box-sizing: border-box;
}

#funnybox {
    min-height: 5rem;
}

.scorebox {
    width: 7rem;
    height: 11rem;
}

#characterImage {
    width: 25rem;
}

#opponentScore {
    font-family: var(--font-menu);
    font-size: 4rem;
}

#playerScore {
    font-family: var(--font-menu);
    font-size: 4rem;
}

.flexcenter {
    align-items: center;
}

.rpsbox {
    margin: 0 -4rem;
    box-sizing: border-box;
}

.rpsbox>p {
    margin: 0 4rem;
}

.gamerowBox {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: auto;
    justify-content: center;
    align-items: center;
}

.hidebutton {
    background-color: #ffffff00;
    border: none;
}

.rpsicon {
    width: 200px;
}

.rpsicon>*:hover {
    transform: rotate(15deg);
    transform: translateY(-1rem);
}





















@media (max-width: 1545px) {

    .bigwidthcontainer {
        width: 71vw;
    }

    .biggerwidthcontainer {
        width: 71vw;
    }

    .extrawidthcontainer {
        width: 71vw;
    }

    .widthcontainer {
        width: 45vw;
    }

    .rowbox {
        width: 45vw;
    }

    .columnbox {
        width: 45vw;
    }

    .contentcontainer {
        width: 100%;
    }

    #sitelogo {
        position: relative;
        top: 1rem;
        margin: 0;
        max-width: 100%;
        height: auto;
    }

    img {
        max-width: 90%;
        height: auto;
    }

    button {
        max-width: 28vw;
    }

    #characterDialogueBox {
        margin-top: 0.2rem;
    }

    #characterImage {
        width: 50rem;
        margin: -6rem;
    }

    #gameBox {
        height: 30rem;
    }



}




/* media queries for responsiveness */
@media (max-width: 1000px) {
    .widthcontainer {
        width: 100%;
    }

    .extrawidthcontainer {
        width: 100%;
    }

    .bigwidthcontainer {
        width: 100%;
    }

    .biggerwidthcontainer {
        width: 100%;
    }

    .boxedsection {
        width: 100%;
        flex-direction: column;
    }

    .sidecontainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .sidecontainer:first-child {
        justify-content: right;
    }

    #menuleft {
        order: 1;
        flex-wrap: nowrap;
    }

    #menuright {
        order: 2;
    }

    .whitebox {
        width: 100%;
    }

    #hattyright {
        display: none;
    }

    .contentcontainer {
        width: 100%;
    }

    .headercontainer {
        justify-content: center;
    }

    img {
        width: 90%;
        height: auto;
    }

    #centerbox {
        order: 1;
    }

    #sticky {
        display: none;
    }

    :root {
        font-size: 3vw;
        --logo-size: 10vw;
    }

    #sitelogo {
        position: relative;
        top: 1rem;
        margin: 0;
        max-width: 100%;
    }

}


@media (min-width: 1000px) {
    .mobileonly {
        display: none;
    }

    #hattyleft {
        display: none;
    }

    .whitebox {
        box-shadow: 7px 7px 0 0 black;
        box-sizing: border-box;
        height: 100%;
    }

    .sidemenu ul>li:hover {
        margin-left: -0.2rem;
    }

    .sidemenu>li:hover {
        margin-left: -0.3rem;
    }

}

.noshadow {
    box-shadow: 0 0 0 0 transparent;
}















#fanartgallery img {
    justify-content: center;
    border: 0.2rem solid white;
    height: 10rem;

    margin: 0.3rem;

}

#fanartgallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

#fanartgallery p {
    z-index: 1;
    text-align: center;
    color: red;
    word-break: break-all;
}

#lightBoxElement {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.856);
    position: absolute;
    z-index: 3;
}

#lightBoxElement #galleryDisplay {
    display: flex;
    justify-content: center;
}