@font-face { font-family: RobotoMono; src: url('fonts/RobotoMono.ttf'); } 
@font-face { font-family: Engebrechtre; src: url('fonts/Engeregu.ttf'); } 
@font-face { font-family: EngebrechtreB; src: url('fonts/Engebold.ttf'); }
@font-face { font-family: DataTrash; src: url('fonts/DataTrash.TTF'); }

:root {
    /* --content-width: 720px; */
    --content-width: 720px;
    --container-spacer-top-height: 50px;
    --container-spacer-bottom-height: 50px;
    --logo-size: 40px;
    --accent-color: #236f65;
    font-size: 16px;
    letter-spacing: normal;
}

* {
    margin: 0;   
    padding: 0;
}

html {
    background-color: white;
}

/* TYPEFACE */



h1, h2, h3, h4, h5, h6 {
    font-family: RobotoMono, Roboto, Verdana;
    font-weight: 600;
    letter-spacing: normal;
    color: black;
    text-transform: capitalize;
    margin-bottom: 0.8rem;
}

h1 {
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #145f55;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

p, ul, ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
}

.quote {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

.subtitle {
    font-weight: bold;
}

.warning {
    font-weight: bold;
    color: red;
}

li {
    margin-bottom: 0.1rem;
}

ul, ol {
    padding-left: 20px;
}

/* MENU BARS */
#menutop > li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 0.85rem;
}

#menutop > li + li::before {
    content: " | ";
}

#menutop {
    padding: 0.6rem 1rem 0.4rem;
}

#menutop a:link {
    color: #c92448;
}

#menutop a:visited {
    color: #661d39;
}


/* IMAGES */

.framedimage {
    border: 4px solid black;
    padding: 2px;
    margin: 7px 0;
}

/* IMPORTANT PAGE CLASSES */

.centerbox {
    display: flex;
    justify-content: center;
}

.center {
    display: block;
    margin: auto;
    text-align: center;
  }
  
/* HEADER */

.header {
    padding-top: 15px;
}

.headercontainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: var(--content-width);
}



.logofont {
    font-family: EngebrechtreB, Haettenschweiler, Impact, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: var(--logo-size);
    font-weight: normal;
    letter-spacing: 1px;
}

.logoimage {
    height: var(--logo-size);
    position: relative;
    top: 4px;
}

#searchbar {
    padding-bottom: 4px;
}

/* ANY container that requres the usage of the content width */
.widthcontainer {
    width: var(--content-width);
}

/* White content box styling */
.whitebox {
    border: 0.3rem solid black;
    background-color: white;
    margin: 1% 2%;
}

.sidecontentbox {
    /* border: 1px solid pink; */
    width: 300px;
}

.sticky {
    position: sticky;
    top: 1rem;
    display: flex;
    align-items: center;
    justify-content: right;
    
}

.container {
    margin-left: auto;
    height: auto;
    width: auto;
    /* border: 1px solid red; */
}

.goback{
    width: fit-content;
    background-color: PINK;
}

.arrowfront {
    position: relative;
    z-index: -1;
    left: 2rem;
    border-top: 42px solid transparent;
    border-bottom: 42px solid transparent; 
    border-right: 42px solid black; 
}

.arrowback {
    position: relative;
    border-top: 42px solid transparent;
    border-bottom: 42px solid transparent; 
    border-right: 42px solid PINK; 
}

p.buttontext {
    font-family: DataTrash, Impact;
    font-size: 1.8rem;
    margin: 10px 20px 10px 0;
}

/* page section styling */
#stripesboxtop {
    background-color: white;
}

#stripesboxmiddle {
    background: linear-gradient(
        to bottom,
        #ffffff,
        #ffffff 48%,
        #000000 48%,
        #000000
      );
    background-size: 100% 50px;
    position: relative;
    height: 100%;
}

#stripesboxbottom {
    background-color: black;
}

.footer {
    box-sizing: border-box;
    padding-bottom: 7px;
    background-color: black;
    height: 300px;
}

.footercontainer {
    color: grey;
    padding-top: 20px;
}

.pagecontent {
    padding: 1.2rem;
}

.section {
    padding-bottom: 40px;
}



@media (max-width: 760px) {
    img {
        max-width: 100%;
        height: auto;
    }
    #searchbar {
        display: none;
    }
    .headercontainer {
        justify-content: center;
    }
    :root {
        font-size: 3vw;
        --logo-size: 10vw;
    }
    .sidecontentbox {
        display: none;
    }

}

@media (min-width: 760px) {
    
    .whitebox {
        margin: 0%;
        box-shadow: 7px 7px 0 0 black;
    }
    .whitebox.top {
        border-bottom: none;
        height: var(--container-spacer-top-height);
    }
    .whitebox.middle {
        border-top: none;
        border-bottom: none;
    }
    .whitebox.bottom {
        border-top: none;
        height: var(--container-spacer-bottom-height);
    }

    

}

