/* baseline styling so the website doesn't look *that* bad. */

html {
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding-right: 40%;
    padding-top: 3%;
    padding-left: 3%;
    font-family: 'Roboto', Arial, sans-serif;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
}

.questions {
    font-style: italic;
}

.tiny {
    font-size: 0.5rem;
}