
vendor
composer.json
composer.lock
public_html/images
public_html/scripts
public_html/variables.php
public_html/.htaccess
public_html/admin
public_html/includes
public_html/debug
public_html/community/newfanart.php